@import '../../styles/mixins';
@import '../../styles/variables';

.button {
  display: block;
  width: 100%;
  height: 36px;
  text-transform: uppercase;
  background-color: $theme-color2;
  border-radius: 2px;
  margin-bottom: 16px;
  @include font($small, $light-text, 400);
}
