// media queries
$desktop-breakpoint: 412px;

//theme colors
$theme-color1: #e2032c;
$theme-color2: #38a867;

// background colors
$background-color1: #ffffff;
$background-color2: #f8f8f8;

// text-colors
$highlight-text: #2f80ed;
$default-text: #4f4f4f;
$light-text: #ffffff;

// font-size
$large: 20px;
$medium: 16px;
$small: 14px;
$extra-small: 12px;
