@import '../../styles/mixins';
@import '../../styles/variables';


.splash-screen {
  background-image: linear-gradient(#fe7865, #ff416c);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fade-out 400ms ease-in 2s forwards;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: calc(#{$desktop-breakpoint} - 1px)) {
    border-radius: 0;
  }
}
