.map-drawer {
  .drawer-wrapper {
    height: calc(100% - 60px);
  }

  .map-wrapper {
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);

    #store-map {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
